flows_logger.json
[{"id":"130716a6.69a729","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eab824a7.de1298","type":"influxdb","z":"","hostname":"logger","port":"8086","protocol":"http","database":"db","name":"db","usetls":false,"tls":""},{"id":"3807a6e2.5d522a","type":"influxdb out","z":"130716a6.69a729","influxdb":"eab824a7.de1298","name":"db.temperature","measurement":"temperature","precision":"","retentionPolicy":"","x":880,"y":240,"wires":[]},{"id":"802a0072.54ae8","type":"debug","z":"130716a6.69a729","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":340,"wires":[]},{"id":"2d17154f.71c16a","type":"inject","z":"130716a6.69a729","name":"","topic":"ts","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":180,"wires":[["bb11ebef.6ce268","9cfb29ae.88a1e8"]]},{"id":"bb11ebef.6ce268","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s1","topic":"","sensorid":"00-190000000000","timer":"1","repeat":false,"x":410,"y":240,"wires":[["8d3c2c11.0639a"]]},{"id":"9cfb29ae.88a1e8","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s2","topic":"","sensorid":"00-990000000000","timer":"1","repeat":false,"x":410,"y":300,"wires":[["8d3c2c11.0639a"]]},{"id":"8d3c2c11.0639a","type":"join","z":"130716a6.69a729","name":"join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":610,"y":240,"wires":[["3807a6e2.5d522a"]]},{"id":"98163a55.d1cf48","type":"function","z":"130716a6.69a729","name":"s1","func":"var newMsg = { payload: Math.floor(Math.random() * 100) , topic: \"s1\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[[]],"inputLabels":["rand"]},{"id":"53048698.a083c8","type":"function","z":"130716a6.69a729","name":"s2","func":"var newMsg = { payload: Math.floor(Math.random() * 100) , topic: \"s2\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[[]]}]