flows_logger.json
[{"id":"130716a6.69a729","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eab824a7.de1298","type":"influxdb","z":"","hostname":"logger","port":"8086","protocol":"http","database":"db","name":"db","usetls":false,"tls":""},{"id":"3807a6e2.5d522a","type":"influxdb out","z":"130716a6.69a729","influxdb":"eab824a7.de1298","name":"db.temperature","measurement":"temperature","precision":"","retentionPolicy":"","x":820,"y":220,"wires":[]},{"id":"802a0072.54ae8","type":"debug","z":"130716a6.69a729","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":120,"wires":[]},{"id":"2d17154f.71c16a","type":"inject","z":"130716a6.69a729","name":"","topic":"ts","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["824038c4.6ca398","1c9f41cc.b0467e","78520449.7c7b0c","58668718.9e5288","d0e98fb7.f5d68","9e2b7ccc.fc7d8","7454d60.f5e042c","f01c69fe.562098","7d9c4427.d9300c"]]},{"id":"8d3c2c11.0639a","type":"join","z":"130716a6.69a729","name":"join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":590,"y":220,"wires":[["3807a6e2.5d522a"]]},{"id":"98163a55.d1cf48","type":"function","z":"130716a6.69a729","name":"s1","func":"var newMsg = { payload: Math.floor(Math.random() * 100) , topic: \"s1\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["33780e5b.6b6372"]],"inputLabels":["rand"]},{"id":"53048698.a083c8","type":"function","z":"130716a6.69a729","name":"s2","func":"var newMsg = { payload: Math.floor(Math.random() * 100) , topic: \"s2\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["33780e5b.6b6372"]]},{"id":"58668718.9e5288","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s4","topic":"","sensorid":"28-011447e795aa","timer":"1","repeat":false,"x":390,"y":340,"wires":[["8d3c2c11.0639a"]]},{"id":"1c9f41cc.b0467e","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s2","topic":"","sensorid":"28-011447f909aa","timer":"1","repeat":false,"x":390,"y":260,"wires":[["8d3c2c11.0639a"]]},{"id":"78520449.7c7b0c","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s3","topic":"","sensorid":"28-01144850c5aa","timer":"1","repeat":false,"x":390,"y":300,"wires":[["8d3c2c11.0639a"]]},{"id":"d0e98fb7.f5d68","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s5","topic":"","sensorid":"28-0114481dfdaa","timer":"1","repeat":false,"x":390,"y":380,"wires":[["8d3c2c11.0639a"]]},{"id":"7454d60.f5e042c","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s7","topic":"","sensorid":"28-011447c037aa","timer":"1","repeat":false,"x":390,"y":460,"wires":[["8d3c2c11.0639a"]]},{"id":"f01c69fe.562098","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s8","topic":"","sensorid":"28-011447f59faa","timer":"1","repeat":false,"x":390,"y":500,"wires":[["8d3c2c11.0639a"]]},{"id":"9e2b7ccc.fc7d8","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s6","topic":"","sensorid":"28-011447c4cbaa","timer":"1","repeat":false,"x":390,"y":420,"wires":[["8d3c2c11.0639a"]]},{"id":"7d9c4427.d9300c","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s9","topic":"","sensorid":"28-011447dbffaa","timer":"1","repeat":false,"x":390,"y":540,"wires":[["8d3c2c11.0639a"]]},{"id":"824038c4.6ca398","type":"sensor-ds18b20","z":"130716a6.69a729","name":"s1","topic":"","sensorid":"28-011447f69caa","timer":"1","repeat":false,"x":390,"y":220,"wires":[["8d3c2c11.0639a"]]},{"id":"1a630d37.0b87c3","type":"inject","z":"130716a6.69a729","name":"Debug only!","topic":"ts","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["98163a55.d1cf48","53048698.a083c8"]]},{"id":"33780e5b.6b6372","type":"join","z":"130716a6.69a729","name":"join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":590,"y":80,"wires":[["a3fdc4a0.c03978","802a0072.54ae8"]]},{"id":"a3fdc4a0.c03978","type":"influxdb out","z":"130716a6.69a729","influxdb":"eab824a7.de1298","name":"db.temperature","measurement":"temperature","precision":"","retentionPolicy":"","x":820,"y":80,"wires":[]}]